@model Payroll.Models.Currency

<div class="row" align="left">
    <div class="col-md-12" align="left">
        <h4>Tem certeza que deseja remover @Html.DisplayFor(model => model.Name) ?</h4>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="UpdatedAt" />
            <input type="hidden" asp-for="UpdatedBy" />
            <div class="form-group" align="right">
                <a asp-action="Index" class="btn btn-default">@Resource.Back</a>
                <input type="submit" value=@Resource.Delete class="btn btn-default default_color" />
            </div>
        </form>
    </div>
</div>
