@model Payroll.Models.Currency

<div class="row" align="left">
    <div class="col-md-12">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" disabled="disabled" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" disabled="disabled"  class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchange" class="control-label"></label>
                <input asp-for="Exchange" disabled="disabled"  class="form-control" />
                <span asp-validation-for="Exchange" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="CreatedBy" />
            <div class="form-group" align="right">
                <a class="btn btn-default" asp-action="Index">@Resource.Back</a>
            </div>
        </form>
    </div>
</div>
