@model Basic

<td align="center" style="border-right:none;border-left:none">
    <a href="#" data-toggle="modal" data-target="#editModal_@(Model.Id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path class="icon" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
    </a>

    <div class="modal fade" id="editModal_@(Model.Id)" tabindex="-1" role="dialog" aria-labelledby="deleteOccupationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header default_color">
                    <h4 class="modal-title" align="left" id="exampleModalLabel">@Resource.Edit</h4>
                </div>
                <div class="modal-body" style="border:none;">
                    <partial name="Edit" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</td>

<td align="center" style="border-left:none">
    <a href="#" data-toggle="modal" data-target="#deleteModal_@(Model.Id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path class="icon" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
    </a>
    <div class="modal fade" id="deleteModal_@(Model.Id)" tabindex="-1" role="dialog" aria-labelledby="deleteOccupationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header default_color">
                    <h4 class="modal-title" align="left" id="exampleModalLabel">@Resource.Delete</h4>
                </div>
                <div class="modal-body" style="border:none;">
                    <partial name="Delete" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</td>
