@model IEnumerable<string>
@{
    var filter = ViewBag.filter;
    var placeHolder = string.Join(", ", Model);
}

<form>
    <label for="term">@Resource.ExecuteSearch</label>
    <div class="input-group" style="margin-bottom:20px;">
        <input id="term" asp-for="@(filter)" class="form-control" placeholder="@(placeHolder)" />
        <span class="input-group-btn">
            <a asp-action="Index" asp-route-filter="" class="btn btn-default">@Resource.ClearFilter</a>
        </span>
    </div>    
</form>