.vs/Payroll/v15/Server/sqlite3/storage.ide-wal
.vs/Payroll/v15/Server/sqlite3/storage.ide-shm
.vs/Payroll/v15/Server/sqlite3/storage.ide
.vs/Payroll/v15/Server/sqlite3/db.lock
.vs/Payroll/v15/.suo
obj
bin
.vs/Payroll/DesignTimeBuild/.dtbcache
