@inject SignInManager<IdentityUser> SignInManager
<ul class="nav nav-pills nav-stacked">
    <li ><a asp-page="./Index">@Resource.Profile</a></li>
    <li>
        <a id="change-password" asp-page="./ChangePassword">@Resource.Password</a></li>    
</ul>
