@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Resource.AskForgotPassword;
}

<hr />
<div class="row">
    <div class="col-md-12 center-container">
        <div class="col-md-4" style="border: solid 1px #205081; border-radius:5px; padding:0;">
            <div class="default_color" style="margin: 0; padding:0;">
                <h2 style="margin: 0; padding: 10px;">@ViewData["Title"]</h2>
            </div>
            <div style="margin:30px">
                <form method="post">
                    <h4>@Resource.EnterYourEmail</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default default_color">@Resource.SendEmail</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
