@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Resource.ResetPasswordConfirmationTitle;
}

<h2>@ViewData["Title"]</h2>
<p>
    @Resource.ResetPasswordConfirmationMessage <a asp-page="./Login">@Resource.ResetPasswordLink</a>.
</p>
