/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    margin: 0;
    padding: 0;    
}

body {
    
    padding: 50px 20px 20px 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.default_color {
    background: #205081 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon {
    fill: #205081 !important;
}

.red_color {
    background: #B71C1C !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_red {
    fill: #B71C1C !important;
}

.black_color {
    background: #000000 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_black {
    fill: #000000 !important;
}

.brown_color {
    background: #3E2723 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_brown {
    fill: #3E2723 !important;
}

.green_color {
    background: #1B5E20 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_green {
    fill: #1B5E20 !important;
}

.orange_color {
    background: #E65100 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_orange {
    fill: #E65100 !important;
}

.yellow_color {
    background: #FFD600 !important;
    color: #000000 !important;
    fill: #000000 !important;
}

svg .icon_yellow {
    fill: #FFD600 !important;
}

.gray_color {
    background: #616161 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_gray {
    fill: #616161 !important;
}

.pink_color {
    background: #ff4081 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_pink {
    fill: #ff4081 !important;
}

.purple_color {
    background: #4a148c !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

svg .icon_purple {
    fill: #4a148c !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #9d9d9d;
    }

.alert-message {
    margin-top: 30px !important;
}

.center-container {
    display: flex;
    justify-content: center;
    top: 60px;
    padding: 0;
    margin: 0;
}

.center-internal-container {
    border: solid 1px #205081;
    border-top: none;
    border-radius: 5px;
    padding: 0;
}

.card-elevation {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.default_color menu-item:hover {
    background: #205081 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.red_color menu-item:hover {
    background: #B71C1C !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.black_color menu-item:hover {
    background: #000000 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.brown_color menu-item:hover {
    background: #3E2723 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.green_color menu-item:hover {
    background: #1B5E20 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.orange_color menu-item:hover {
    background: #E65100 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.yellow_color menu-item:hover {
    background: #FFD600 !important;
    color: #000000 !important;
    fill: #000000 !important;
}

.gray_color menu-item:hover {
    background: #616161 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.pink_color menu-item:hover {
    background: #ff4081 !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.purple_color menu-item:hover {
    background: #4a148c !important;
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.card-container {
    display: inline;    
}

.card {
    background-color: #FFF;
    z-index: 9;
    color: #616161;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 20px 5px 20px 20px;
    padding: 0px 10px 10px 10px;
    width: 300px;
    height: 150px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}

.card h5 {
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 900;
    float: right;    
}

.card p {
    line-height: 25px;
    font-weight: bolder;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.big-card {
    width: 500px;
    height: 300px;
}